*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 10;
}

.header::before{
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

nav{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav .logo{
    position: relative;
    font-weight: 600;
    text-decoration: none;
    color: blanchedalmond;
    font-size: 2em;
}

nav .navigation{
    position: relative; /*Pour placer les boutons horizontalement*/
    display: flex;
    z-index: 10;
}

nav .navigation li{
    list-style: none; /*Pour ne pas afficher de point*/
}

nav .navigation li a{
    display: inline-block;
    color: blanchedalmond;
    font-weight: 400;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

nav .navigation li a:active,
nav .navigation li a:hover{
    background: blanchedalmond;
    color: black;
}

.sous-menu{
    display: none;
}

nav > ul li:hover .sous-menu{
    display: block;
}

nav.sticky{
    position: fixed;
    top: 0;
    left: 0;
}

.imgFleche .fleche_haut{
    position: fixed;
    z-index: 10;
    max-width: 4%;
    background: transparent;
    top: 1%;
    left: 48%;
    opacity: 75%;
} 

.imgFleche .fleche_bas{
    z-index: 10;
    position: fixed;
    max-width: 4%;
    background: transparent;
    top: 92%;
    left: 48%;
    opacity: 75%;
}


/*Texts*/

.text-boite a span{
    width: 0;
    height: 100%;
    background: blue;
    position: rel;
    top: 0;
    left: 0;
    transition: 0.6 ease-in-out;
    border-radius: 10px;
}

.text-boite a:hover span{
    width: 100%;
}

.text-boite a:hover{
    color: blanchedalmond;
}


/*Accueil*/

.accueil{
    min-height: 100vh;
    background-color: rgb(51, 51, 53);
    padding-top: 80px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}

.accueil .text-boite{
    position: relative;
    max-width: 1000px;
    flex-basis: 48%;
}

.accueil .text-boite a{
    position: absolute;
    padding: 10px 20px;
    margin: 30px 0;
    color: black;
    font-weight: 600;
    background: blanchedalmond;
    transform: translate(-50%);
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.6s ease-in-out;
}    

.accueil .text-boite h2{
    color: blanchedalmond;
    font-size: 6rem;
    font-weight: 700;
}

.accueil .text-boite p{
    color: blanchedalmond;
    margin-top: 20px;
    font-size: 2rem;
}


/* Slide */

.slider .slick-slide{
    height:auto!important;
}

.slick-arrow:before{
    content:""!important;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
}

.slick-next:before{
    background: url(./image/fleche_droite.png)!important;
    background-size: contain!important;
}

.slick-prev:before{
    background: url(./image/fleche_gauche.png)!important;
    background-size: contain!important;
}

.slick-next{ 
    right:1%!important;
}

.slick-prev{ 
    left:1%!important; 
}

.slick-arrow{
    z-index:2!important;
    width:50px!important;
    height:50px!important;
}

.slick-dots li button:before {
    background-color: blanchedalmond;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    }

.slick-dots{
    /*bottom: initial!important;*/
    background-color: rgb(51, 51, 53) !important;
    padding-top: 5px !important;
    top: 95% !important;
    padding-bottom: 70px !important;
}


/* Contenu */

.projets{
    height: 100%;
    width: 100%;
    background-color: rgb(51, 51, 53);
}


/*Jeu*/

.jeu{
    padding-top: 80px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    scroll-behavior: smooth;
}

.jeu .text-boite{
    position: relative;
    left: 5%;
    float: left;
    padding-top: 10%;
    width: 30%;
    height: 80vh;
    flex-basis: 48%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.jeu .text-boite a{
    position: absolute;
    padding: 10px 20px;
    margin: 30px 0;
    color: black;
    font-weight: 600;
    background: blanchedalmond;
    transform: translate(-50%);
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.6s ease-in-out;
}    

.jeu .text-boite h2{
    color: blanchedalmond;
    font-size: 4rem;
    font-weight: 700;
}

.jeu .text-boite p{
    color: blanchedalmond;
    margin-top: 20px;
    font-size: 25px;
}

.jeu .text-boite .btn{
    position: absolute;
}

.jeu .imgboite{
    position: relative;
    padding-top: 5%;
    left: 10%;
    width: 100%;
    height: 80vh;
}

.jeu .imgboite img{
    max-width: 1000px;
    box-shadow: 0px 10px 10px black;
}


/* Android */

.imgboiteAndroid{
    left: 10%;
}

.imgJeuAndroid{
    float: left;
    margin: 10px;
    max-width: 15%;
    border-radius: 50px;
    box-shadow: 0px 10px 10px black;
}


/* Site Cocktails */

.imgBoiteSite{
    left: 10%;
    padding-top: 5%;
}

.imgSite{
    float: left;
    width: 55%;
}


/*A propos*/

.aPropos{
    min-height: 100vh;
    background-color: rgb(51, 51, 53);
    padding-top: 80px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}

.aPropos .text-boite{
    position: relative;
    max-width: 1000px;
    flex-basis: 48%;
}

.aPropos .text-boite a{
    position: absolute;
    padding: 10px 20px;
    margin: 30px 0;
    color: black;
    font-weight: 600;
    background: blanchedalmond;
    transform: translate(-50%);
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.6s ease-in-out;
}    

.aPropos .text-boite h2{
    color: blanchedalmond;
    font-size: 6rem;
    font-weight: 700;
}

.aPropos .text-boite p{
    color: blanchedalmond;
    margin-top: 20px;
    font-size: 2rem;
}

.aPropos .imgboite{
    position: relative;
    width: 100%;
    height: 100%;
    flex-basis: 48%;
    max-width: 20%;
}

.aPropos .imgboite img{
    max-width: 100%;
}


/*Contacts*/

.contacts{
    min-height: 100vh;
    background-color: rgb(51, 51, 53);
    padding-top: 80px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.contacts .text-boite{
    position: relative;
    max-width: 1000px;
    flex-basis: 48%;
}

.contacts .text-boite a{
    position: absolute;
    padding: 10px 20px;
    margin: 30px 0;
    color: black;
    font-weight: 600;
    background: blanchedalmond;
    transform: translate(-50%);
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.6s ease-in-out;
}    

.contacts .text-boite h2{
    color: blanchedalmond;
    font-size: 6rem;
    font-weight: 700;
}

.contacts .text-boite p{
    color: blanchedalmond;
    margin-top: 20px;
    font-size: 2rem;
}

.contacts .imgboite{
    position: absolute;
    z-index: 2;
    width: 100%;
    padding-top: 2%;
    flex-basis: 48%;
}

.contacts .imgboite img{
    margin-left: 10px;
    max-width: 3%;
}


/*Transition*/

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
  }